[Unit]
Description=TicTack File Sync
After=local-fs.target

[Service]
Type=simple
WorkingDirectory=/opt/tictack
ExecStart=/opt/tictack/TicTackSv --cli
KillSignal=SIGINT
TimeoutStopSec=60
UMask=0077
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
